<!DOCTYPE html>
<html>
<head>
	<title>Online Renewal</title>
	<!-- <link rel="shortcut icon" type="image/x-icon" href="icon.png" /> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<style type="text/css">
		body{
		background: url(https://previews.123rf.com/images/zven0/zven01510/zven0151000061/47071963-light-white-textured-background-seamless-full-screen.jpg);
		}

		#desc{
			padding-left: 20px;
			line-height: 25px;
		}
	</style>
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Logo -->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</button>
				<a href="#" class="navbar-brand">Online Library</a>
			</div>
			<!-- Menu Items -->
			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'Log_in' %}">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<h1>Project</h1>
	<h4><p id="desc">	This project aims to bring the tech intervention to break some of our inablities because of which everyone has to face the same problems.Standing in long queues sacrifising even classes or lunch sometimes to get it done.<br>Here we present a simple user friendly web portal for <i><strong>ONLINE BOOK RENEWAL SYSTEM</strong></i></p></h4><br>

	<h1>FrameWorks Involved</h1>
	<ul>
		<h4><li>Django</li><h4>
		<h4><li>Bootstrap</li></h4>
	</ul>

	<h1>Team Members</h1>
	<ul>
		<h4><li>Debadri Basak</li><h4>
		<h4><li>Atishay Jain</li></h4>
		<h4><li>Himanshu Khandelwal</li></h4>
		<h4><li>Chinni Dheeraj</li></h4>
	</ul>

	<div class="container">
		<blockquote>
			<h1>A room without books is like a body without a soul.</h1>
			<footer>Marcus Tullius Cicero</footer>
		</blockquote>
	</div>
	
</body>
</html>
